<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <!-- adjust switchValue to filter messages of a certain type -->
      <source name="HidDevice" switchValue="All" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- uncomment if trace shall not be sent to output window in VS -->
          <!--<clear/>-->
          <add name="TextWriterListener"/>
        </listeners>
      </source>
      <source name="Hid" switchValue="Error" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- uncomment if trace shall not be sent to output window in VS -->
          <!--<clear/>-->
          <add name="TextWriterListener"/>
        </listeners>
      </source>
      <source name="DeviceManagement" switchValue="Error" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- uncomment if trace shall not be sent to output window in VS -->
          <!--<clear/>-->
          <add name="TextWriterListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TextWriterListener"
        type="TextWriterTraceListenerWithTime, hidirt.exe"
        initializeData="hidirt.log">
          <!-- uncomment and adjust to filter messages of a certain source or type -->
          <!--<filter type="System.Diagnostics.SourceFilter"
            initializeData="HidDevice"/>-->
          <!--<filter type="System.Diagnostics.SourceFilter"
            initializeData="Error"/>-->
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>